.item {
    margin: 2rem 25%;
    background: #ffffff;
    border-radius: 6px;
    color: gray;
    box-shadow: 5px 5px 10px;
}

.item:hover {
    cursor: pointer;
}

.image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 10px;
    text-align: center;
}


.content h3 {
    font-size: 3rem;
    color: #2c292b;
    margin: 1rem 0;
}

.actions {
    padding: 0.5rem;
    text-align: center;
}

.actions button {
    font: inherit;
    cursor: pointer;
    color: #77002e;
    border: 1px solid #77002e;
    margin: 5px 5px;
    background-color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
}

.actions button:hover,
.actions button:active {
    background-color: #ffe2ed;
}